header,nav,footer, aside,.container div{
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    font-family: system-ui;
    border: 1px solid #000;
}
.container{
    display: flex;
    flex-direction: row;
}
.container div{
    width: 100%;
    height: 65vh;
}
aside{
    height: 65vh;
}